body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  padding-bottom: 130px;
}

.slide-in {
  animation: slide-in .2s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
    height: 0;
  }
  to {
    transform: translateX(0);
    opacity: .9;
    height: 74px;
  }
}

.slide-out {
  animation: slide-out .2s ease-in forwards;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: .9;
    height: 74px;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
    height: 0;
  }
}

button {
  border: 0;
  background: transparent;
  box-shadow: 0 .125rem .25rem rgba(black, .075);
}

form {
  max-width: 500px;
  margin: 0 auto;
  filter: drop-shadow(0 .125rem .25rem rgba(black, .075));
}

table {
  box-shadow: 0 .125rem .25rem rgba(black, .075);
  tr {
    th {
      white-space: nowrap;
    }
    td {
      vertical-align: middle;
      button {
        white-space: nowrap;
      }
    }
  }
}

.navbar-collapse {
  display: flex;
}

.alert {
  button {
    right: 10px;
  }
}

.user-badge {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #94abd6;
  box-shadow: 0 .125rem .25rem rgba(black, .075);
}
